.logo{
    width: 50px;
    filter: drop-shadow(1px 1px 1px black);
    padding: 5px;
}
.cart-space{
    margin: 10px;
    background-color: azure;
    border-radius: 20px;
    padding: 5px;
}
.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html{
    background: rgb(48,47,73);
    background: linear-gradient(122deg, rgba(48,47,73,1) 0%, rgba(175,175,255,1) 35%, rgba(80,128,138,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.NavTittle{
    color: green;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem;
    margin: 12px;
    background-color: rgb(119, 0, 255);
    border-radius: 25px;
}
.NavTittle:hover{
    background-color: black;
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: rgba(240, 248, 255, 0);
}
.colorbg{
    background-color: rgba(240, 248, 255, 0) !important;
    font-weight: bolder !important;
    font-size: 1.1rem !important;
}
.oscuro{
    filter: drop-shadow( 2px 3px 1px Black);
    color: rgba(255, 115, 0, 0.678);
}
